<div class="row" data-author-id="<%= author.id %>">
  <div class="col-sm-12 col-md-8"><%= link_to author.fullname, author_path(id: author.id), class: 'btn btn-light'%></div>
  <div class="col-sm-12 col-md-2"><%= link_to 'Edit', edit_author_path(id: author.id), role: 'button', class: 'btn btn-primary' %></div>
  <div class="col-sm-12 col-md-2"><%= link_to 'Destroy', author_path(id: author.id), method: :delete, data: { confirm: 'Are you sure? This action will also destroy all posts and comments for this author.' }, role: 'button', class: 'btn btn-danger', remote: true  %></div>
</div>
